@import url(//fonts.googleapis.com/css?family=Raleway);

body {
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", "Work Sans", Verdana;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.List-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
}

.List-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.List-item:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.App {
  text-align: center;
}

.Background {
  background-image: linear-gradient(
    -180deg,
    rgba(63, 40, 165, 0.9) 0%,
    rgba(97, 119, 244, 0.75) 100%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 20vmin;
  pointer-events: none;
  font-size: 152px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
