@import url(//fonts.googleapis.com/css?family=Raleway);

body {
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", "Work Sans", Verdana;
}

.App {
  text-align: center;
}

.Background {
  background-image: linear-gradient(
    -180deg,
    rgba(63, 40, 165, 0.9) 0%,
    rgba(97, 119, 244, 0.75) 100%
  );
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
